# {{ansible_managed}}

# Benno
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCyOhiO6g/8pqPyJ5cMMkaW49V9+ePxf/A0LM1AV/MVIDXSJFuphD/c32ka9xy4sco9traN8CxUyi8pEAnyG+KXJFRjeYIKoH5Zmbarv4pFw4H+VaipWxqNE+SR6oqJoDk7mjHkVy3G039dVd1ZSs6o8uY3XO8DiXanHJUaDGdbrj/WEOiO7jBy6h6hQ6ioYSAwUX1OF2n1+uIhs7a5dierMfGGMhPCZTBB2CAiYDQ5PCoWaSnAN/C1WNGwyXgvMuvMeYw6urBulcJULGrwm4309Lx+nmLAgsAftpRwIpP54sQoAmNJDrokzMoHu9y9STCwj2wQrBNa0zQEwKJhWeLd benjamin.mumm@googlemail.com
